/* Navbar style */
ul{
  margin-bottom: 67px;
}

/* Index page style */
#intro{
  background-color: white;
}
.main-title {
  font-size: 14vw;
}

/* Contact page style */
.contact-title{
  font-size: 8vw;
}

/* Main page cards hover style */
.overlay-text{
  position: absolute;
  left: 50%;
  top: 50%;
  display:none;
  transform: translate(-50%, -50%);
}

.hover-overlay {
  position: relative;
}

.hover-overlay:hover .overlay-text {
  display:block;
  color: white;
}

.hover-overlay:hover .overlay-img{
  filter: brightness(35%);
}

/* keep overlay on screens that are equal to or less than 576px wide */
@media (max-width: 576px) {
  .overlay-text {
    font-size: 10vw;
    display:block;
    color: white;
  }
  .overlay-img{
    filter: brightness(35%);
  }
}

/* large card text on screens that are equal to or less than 768px wide */
@media (max-width: 768px) {
  .overlay-text {
    font-size: 10vw;
  }
}

/* small card text on screens that are equal to or greater than 769px wide */
@media (min-width: 769px) {
  .overlay-text {
    font-size: 3vw;
  }
}

.link{
  list-style-type: none;
}

.link-text{
  font-size: 24px;
}