/* Navbar style */
ul{
  margin-bottom: 67px;
}

.link{
  list-style-type: none;
}

.link-text{
  font-size: 24px;
}

.link-email{
  color:#EA4335
}

.link-git{
  color:#25292E
}

.link-in{
  color:#0A66C2
}

/* Index page style */
.about {
  font-size: 14vw;
}

/* Contact page style */
.contact-image{
  max-height: 30%;
  max-width: 30%;
}

.contact-title{
  font-size: 8vw;
}
